.footer{
    &__wrapper{
        padding-bottom: 75px;
        margin-top: 83px;
        background-color: #f4f4f4;
    }
    &__top{
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        padding-top: 68px;
    }
    &-link{
        color: #383f47;
        font-size: 14px;
        line-height: 23px;
        font-weight: 400;
    }
    &-title{
        color: #383f47;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 44px;
        
    }
    &-phone{
        font-size: 16px;
        text-transform: uppercase;
        color: #383f47;
        letter-spacing: 0.4px;
        line-height: 23px;
        font-weight: 700;
    }
    &-email{
        color: #383f47;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.4px;
        text-transform: lowercase;
    }
    &-feedback{
        &-social{
            display: flex;
            flex-wrap: wrap;
            width: 380px;
            margin-bottom: 35px;
        }
        &-current{
            display: flex;
            align-items: center;
            border-radius: 20px;
            width: 170px;
            margin: 15px 10px 0 0;
        }
        &-logo{
            object-fit: contain;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin: 5px;
            text-align: center;
            box-sizing: border-box;
            border-radius: 50px;
            box-shadow: 6px 11px 27px rgba(0, 0, 0, 0.48);

            & img{
                display: block;
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 40px;
                object-fit: cover;
            }
        }
        &-text{
            padding: 0 21px;
            color: #ffffff;
            font-size: 14px;
            line-height: 44px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            font-weight: 400;
        }
    }

    &__bottom{
        padding-top: 64px;
        border-top: 1px solid #a6a6a6;
        margin-top: 50px;
        text-transform: uppercase;
        &-part{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:last-child{
                margin-top: 20px;
            }
        }
        &-info{
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0.4px;
            color: #383f47;
            & p{
                text-align: right;
            }
        }
        &-links{
            & a{
                margin-right: 50px;
            }
        }
        &-img{
            margin: 0 15px;
        }
    }
}
.tgram{
    background-color: #00afeb;
    & img{
        background: #ffffff;
    }
}
.viber{
    background-color: #8f4ca4;
}
.vk{
    background-color: #ffffff;
    & span{
        color: #2c76a6;

    }
}
.messanger{
    background-color: #0080ff;
    & img{
        background-color: #fff  ;
    }
}