@charset "UTF-8";
h2 {
  margin-top: 65px;
  font-size: 45px;
  font-weight: bold;
  color: #383f47;
  text-transform: uppercase;
  letter-spacing: 0.53px;
  line-height: 72.52px;
}

h3 {
  color: #383f47;
  font-size: 29px;
  font-weight: 700;
  line-height: 63.52px;
  text-transform: uppercase;
  letter-spacing: 0.38px;
}

.new_order {
  margin-top: 70px;
}

.new_order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#service {
  margin: 30px 0;
  width: 95%;
}

.left {
  width: calc(99% - 400px);
}

.left-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-title-block hr {
  width: calc(100% - 370px);
  margin: 0 0 0 45px;
}

.left-choose-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

.left-choose-block {
  width: 50%;
  margin-top: 20px;
}

.left-choose-block:first-child {
  margin-right: 50px;
}

.left-choose-block label {
  font-size: 20px;
  color: #383f47;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.21px;
  line-height: 2;
}

.left-choose-block select {
  width: 100%;
}

.left-choose-pay {
  margin-top: 40px;
}

.left-choose-pay button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  line-height: 72.52px;
  text-transform: uppercase;
  letter-spacing: 0.21px;
  padding: 0 36px;
}

.left-choose-pay p {
  color: #383f47;
  font-size: 22px;
  font-weight: 400;
  line-height: 72.52px;
  letter-spacing: 0.24px;
}

.left-choose-select {
  color: #383f47;
  padding: 16px 15px;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  background-image: url("../../icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 98% center;
}

.left-choose-input {
  font-weight: 400;
  text-transform: uppercase;
  color: #383f47;
  padding: 16px 15px;
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.left-choose-inputs {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.other-radio {
  margin-top: 34px;
  display: block;
}

.other-radio-current {
  position: relative;
}

.other-radio input[type="radio"] {
  display: none;
}

.other-radio input[type="radio"]:checked + label:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "✔️";
}

.other-radio label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 28px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  color: #383f47;
}

.other-radio label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #27a256;
}

#card {
  position: relative;
  width: 40%;
  background-image: url("../../icons/visaMastercard.png");
  background-repeat: no-repeat;
  background-position: 95% center;
}

#month {
  width: 20%;
}

#cvc {
  width: 20%;
  background-image: url("../../icons/question.png");
  background-repeat: no-repeat;
  background-position: 95% center;
}

.radio {
  margin-top: 45px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.radio input[type="radio"] {
  display: none;
}

.radio label {
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 32px 20px 30px;
  border: 1px solid #e8e8e8;
  font-weight: 400;
  font-size: 20px;
  color: #383f47;
  letter-spacing: 0.21px;
}

.radio input[type="radio"]:checked + label {
  border: 1px solid #27a256;
  color: #27a256;
}

.mt-30 {
  margin-top: 30px;
}

.add-input {
  -webkit-box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border: 1px solid #fff;
  padding: 39px 20px 24px 12px;
  cursor: pointer;
  background-image: url("../../icons/plus.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  top: 0px;
  left: -38px;
}

.right {
  max-height: 760px;
  min-width: 400px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.right-price {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
  border: 1px solid #e8e8e8;
}

.right-price-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.right-price-current {
  padding: 15px;
  background-color: #27a256;
  border-radius: 25px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.63px;
}

.right-title {
  border-bottom: 1px solid #e8e8e8;
}

.right-title span {
  color: #383f47;
  padding-left: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  letter-spacing: 0.27px;
}

.right-description {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-top: 36px;
}

.right-description span {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.3px;
}

.right-title-small p {
  margin-bottom: 10px;
  color: #383f47;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.right-title-small span {
  font-size: 14px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
}

.right-count {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  background-color: #ffdc3a;
  border-radius: 30px;
}

.right-submit {
  min-height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e8e8e8;
}

.right-submit button {
  border: 1px solid #27a256;
  border-radius: 24px;
  background: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #27a256;
  padding: 16px 31px 17px 30px;
  font-family: "Source Sans Pro";
  cursor: pointer;
}

.promo {
  margin: 35px 0;
  padding-left: 15px;
}

.promo-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.promo input {
  min-width: calc(100% - 40px);
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  border-radius: 27px;
  padding: 15px 0 21px 21px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.footer-button {
  margin-top: 100px;
  font-size: 22px;
  font-weight: 700;
  line-height: 32.08px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border-radius: 24px;
  cursor: pointer;
  padding: 16px 49px 15px 49px;
}

.back {
  color: #ffffff;
  margin-right: 41px;
  background-color: #a6a6a6;
  border: 1px solid #a6a6a6;
}

.submit {
  -webkit-box-shadow: 0 0 27px rgba(255, 220, 58, 0.43);
          box-shadow: 0 0 27px rgba(255, 220, 58, 0.43);
  color: #5c6167;
  background-color: #ffdc3a;
  border: 1px solid #ffdc3a;
}

.input-with-button {
  color: #383f47;
  margin: 30px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 66.52px;
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.21px;
  font-family: "Source Sans Pro";
  padding: 0 17px;
  border: 1px solid #e8e8e8;
}

.additional__wrapper {
  width: 96%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.additional__current {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  border-radius: 15px;
}

.additional__current:hover {
  border: 1px solid #27a256;
}

.additional__current-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  -webkit-box-shadow: 0 17px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0 17px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 17px 66px 0 66px;
}

.additional__current-image img {
  width: 50px;
  height: 50px;
}

.additional__current-title {
  text-align: center;
  font-size: 20px;
  min-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.21px;
  color: #383f47;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional__current-plus {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-radius: 30px 0 0 0;
}

.additional__current-minus {
  border-radius: 0 30px 0 0;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.additional__current-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 0 0;
}

.additional__current-price p {
  background-color: #27a256;
  border: 1px solid #27a256;
  border-radius: 11px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.21px;
  color: #ffffff;
  padding: 11px 17px 11px 20px;
}

.additional__current-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 9px 14px 9px 14px;
  background-color: #ffdc3a;
  border: 1px solid #ffdc3a;
  border-radius: 40px;
}

.additional__current-counter span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.21px;
  font-weight: 700;
}

.date {
  margin-right: 40px;
  width: 43%;
  position: relative;
}

.date::-webkit-clear-button {
  display: none;
}

.date::-webkit-inner-spin-button {
  display: none;
}

.date::-webkit-inner-spin-button {
  display: none;
}

.date::-webkit-calendar-picker-indicator {
  position: relative;
  opacity: 1;
  color: transparent;
  background: #fff;
  background-image: url("../../icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  padding: 30px 20px 24px 12px;
  -webkit-box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
  left: 20px;
}

#time {
  width: 43%;
}

#time::-webkit-inner-spin-button {
  display: none;
}

#time::after {
  content: "+";
  z-index: 2;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.about-me__wrapper {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me__title {
  font-size: 20px;
  font-weight: 400;
}

.about-me__title-title {
  color: #383f47;
  letter-spacing: 0.21px;
}

.about-me__title-description {
  color: #a6a6a6;
  text-transform: uppercase;
  letter-spacing: 0.21px;
}

.about-me__item {
  width: 48%;
}

.about-me__item input {
  width: 96%;
}

.m10 {
  margin: 10px 0 !important;
}

.part2-hr {
  width: calc(100% - 760px) !important;
}

.part3-hr {
  width: calc(100% - 400px) !important;
}

.spb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.mr43 {
  margin-right: 43px;
}

.nobg {
  background: inherit;
}

.p50 {
  padding: 0 50px !important;
}

.mr30 {
  margin-right: 30px;
}

.w100 {
  width: 97% !important;
}

#comment {
  width: 96%;
  min-height: 224px;
}

.w92 {
  width: 92%;
}

@media screen and (min-width: 1200px) and (max-width: 1540px) {
  .container {
    max-width: 1110px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  .panel {
    margin-top: 0;
  }
  hr {
    width: 45%;
  }
  .order__block {
    font-size: 16px;
    padding: 17px;
  }
  .order-date {
    margin-right: 0;
  }
  .order-price {
    font-size: 20px;
  }
  .order-price-ruble {
    font-size: 13px;
  }
  .w92 {
    width: 89%;
  }
  .left-title-block hr {
    width: calc(100% - 300px);
  }
  .part2-hr {
    width: calc(100% - 642px);
  }
  .radio label {
    padding: 25px 20px 25px 20px;
    font-size: 15px;
  }
  .additional__current-image {
    margin: 17px 58px 0 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .date {
    width: 40%;
  }
  #time {
    width: 40%;
  }
  .input-with-button {
    line-height: 50px;
  }
  .about-me__title {
    font-size: 14px;
  }
  .about-me__item {
    width: 47%;
  }
  .date::-webkit-calendar-picker-indicator {
    position: relative;
    opacity: 1;
    color: transparent;
    background: #fff;
    background-image: url("../../icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    padding: 20px 10px 20px 10px;
    -webkit-box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
    left: 20px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .right {
    font-size: 13px;
  }
  .panel {
    margin-top: 0;
  }
  hr {
    width: 30%;
  }
  .order__block {
    font-size: 12px;
  }
  .order-title {
    font-size: 11px;
  }
  .order-date {
    margin-right: 0;
  }
  .order-gear {
    width: 25px;
    height: 25px;
  }
  .order-price {
    font-size: 11px !important;
  }
  .order-price-ruble {
    font-size: 8px !important;
  }
  .w92 {
    width: 88%;
  }
  .left {
    width: calc(100% - 305px);
  }
  .right {
    min-width: 300px;
  }
  .new_order-form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .green-button {
    padding: 6px 25px;
  }
  .green-button span {
    font-size: 15px;
  }
  .panel button {
    line-height: 50px;
  }
  .radio label {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
  }
  .date {
    width: 42%;
  }
  .date::-webkit-calendar-picker-indicator {
    position: relative;
    opacity: 1;
    color: transparent;
    background: #fff;
    background-image: url("../../icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    padding: 15px 5px 15px 16px;
    -webkit-box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 29px rgba(0, 0, 0, 0.15);
    left: 20px;
  }
  #time {
    width: 42%;
  }
  .left-choose-pay button {
    line-height: 50px;
  }
  .left-choose-pay p {
    font-size: 15px;
  }
  .part3-hr {
    width: calc(100% - 285px) !important;
  }
  .add-input {
    padding: 25px 15px 16px 18px;
  }
  .about-me__title {
    font-size: 15px;
  }
  .about-me__item input {
    width: 88%;
  }
  .mr30 {
    margin-right: 24px;
  }
  .new-order {
    font-size: 15px;
  }
  .footer-button {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 32.08px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    border-radius: 24px;
    cursor: pointer;
    padding: 10px 32px 10px 32px;
  }
  #comment {
    width: 96%;
    min-height: 0px;
  }
  .input-with-button {
    margin-right: 0px;
    font-size: 14px;
    line-height: 40px;
  }
  .left-title-block hr {
    width: calc(100% - 250px);
  }
  .additional__current-image {
    margin: 10px 45px 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .additional__current-minus {
    padding: 5px 15px 5px 15px;
  }
  .additional__current-plus {
    padding: 5px 15px 5px 15px;
  }
  .additional__current-title span {
    font-size: 15px;
  }
  .additional__current-price {
    margin: 0;
  }
  .additional__current-price p {
    font-size: 15px;
  }
}
/*# sourceMappingURL=new-order.css.map */