body{
    background: #fff;
    font-family: "Source Sans Pro";    
}
.container{
    max-width: 1545px;
    margin: 0 auto;
}

h1{
    font-size: 49px;
    color: #383f47;
    line-height: 72.52px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.53px;
    margin-top: 61px;
    
}
.panel{
    margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 69px;

    & button{
        box-sizing: border-box;
        cursor: pointer;
        font-weight: 700;
        line-height: 72.52px;
        text-transform: uppercase;
        letter-spacing: 0.21px;
        padding: 0 36px;
    }
}
.new-order{
    box-shadow: 0 0 21px #fff1ae;
    background-color: #ffdc3a;
    border-radius: 26px;
    border: 1px solid #ffdc3a;
    color: #383f47;
    text-transform: uppercase;
    letter-spacing: 0.21px;
    font-size: 17px;

}
.actived{
    color: #ffffff;
    background-color: #27a256;
    border: 1px solid #27a256;
}
.blocked{
    background: #fff;
    border: 1px solid #e8e8e8;
    color: #383f47;
}
hr{
    width: 905px;
    height: 2px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.order{

    &__wrapper{
        box-sizing: border-box;
        display: flex;
        border: 1px solid #e8e8e8;
        border-radius: 15px;
        background-color: #ffffff;
        margin-bottom: 20px;
    }
    &__block{
        padding: 25px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.45px;
        & p{
            margin-top: 5px;
        }
        &:last-child{
            border-right: none;
        }

    }
    &-number{
        margin-right: 30px;
    }
    &-date{
        margin-right: 42px;
        font-weight: bold;
        letter-spacing: 0.45px;
        &-end{
            color: #e8e8e8;
        }
    }
    
    &-title{
        color: #383f47;
        font-weight: 400;
        letter-spacing: 0.35px;
        text-transform: uppercase;
        font-size: 20px;
    }
    &-price{
        font-size: 31px;
        font-weight: 400;
        line-height: 27.89px;
        text-transform: uppercase;
        letter-spacing: 0.55px;
        &-ruble{
            font-size: 25px;
            letter-spacing: 0.45px;
        }
    }
    &-gear{
        align-content: center;
        cursor: pointer;

    }
    &-more{
        display: flex;
        justify-content: center;
        margin-top: 112px;
        & span{
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0.21px;
            font-size: 20px;
            font-weight: 400;
        }
    }
}
.br{
    border-right: 1px solid #e8e8e8;
}
.brscreen640{
    border-right: 1px solid #e8e8e8;
    
}
.green-button{
    padding: 17px 25px;
    box-shadow: 0 15px 29px rgba(0, 0, 0, 0.18);
    border-radius: 23px;
    background-color: #27a256;
    border: 1px solid #27a256;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px){  

    .container{
        max-width: 90%;
    }
    h1{
        line-height: 0;
        font-size: 35px;
    }
    .new-order{
        font-size: 15px;
    }
    .right{
        display: block;
    }
    .panel{
        margin-top: 40px;
        & button{
            line-height: 50px;
            padding: 0 10px;
            font-size: 9px;
        }
        & hr{
            width: calc(10% - 160px);
        }
    }
    .order{
        &__top{
            display: flex;
            flex-wrap: wrap;
        }
        &__wrapper{
            display: flex;
            flex-wrap: wrap
        }
        &-number{
            margin-right: 0;
        }
        &-date{
            margin: 0;
        }
        &__block{
            padding: 15px;
            & span{
                font-size: 15px;
            }
            padding-right: 0;
        }
        &-more{
            margin-top: 59px;
        }
    }
    .w100screen640{
        width: 100%;
    }
    .w50{
        width: calc(100% / 2.3);
    }
    .bt{
        border-top: 1px solid #e8e8e8;
    }
    .bb{
        border-bottom: 1px solid #e8e8e8;
    }
    .br{
        border-right: none;
    }
    
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}