
body{
    background: #fff;
    font-family: "Source Sans Pro";    
}

.container{
    max-width: 1545px;
    margin: 0 auto;
}

.h1{
    padding-top: 57px;
    font-size: 49px;
    color: #383f47;
    font-weight: 700;
    line-height: 72.52px;
    text-transform: uppercase;
    letter-spacing: 0.53px;
    background-size: contain;
}
h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.27px;
    color: #383f47;
    text-transform: uppercase;
}
.title{
    margin-top: 41px;
}
.copy{
    &__link{
        display: flex;
        justify-content: space-between;
        margin-top: 130px;
        margin-bottom: 108px;
        padding: 23px 23px 24px 34px;
        box-shadow: 0 0 13px rgba(255, 220, 58, 0.42);
        background-color: #ffdc3a;
        box-shadow: 0 0 13px rgba(255, 220, 58, 0.42);
        max-width: 620px;
        border-radius: 25px;
        & span{
            font-size: 25px;
            color: #383f47;
            font-weight: 400;
            letter-spacing: 0.27px;
        }
    }
    &__sign{
        cursor: pointer;
    }
}
.social{
    &__title{
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.21px;
        color: #383f47;
    }
    &__links{
        margin-top: 23px;
        margin-bottom: 89px;
        & a {
            padding-right: 15px;
           & img{
            width: 50px;
            height: 50px;
           }
        }
    }
}
.how-work{
    &__block{
        position: relative;
        max-width: 426px;
        border-radius: 1px;
        background-color: #ffdc3a;
        border: 1px solid #ffdc3a;
        padding: 28px 36px 27px 19px;
        & span{
            font-size: 21px;
            font-weight: 400;
            line-height: 27.89px;
            text-transform: uppercase;
            letter-spacing: 0.23px;
            color: #383f47;
        }
    }
    &__wrapper{
        margin-top: 83px;
        display: flex;
        justify-content: space-between;

    }
    &__img{
        position: absolute;
    }
}
.arrow{
    &__wrapper{
        display: flex;
        justify-content: space-around;
    }
}
.chain{
    top: -35px;
        right: -40px;
}
.percent{
    top: -47px;
    right: -55px;
}
.skidka{
    top: -47px;
    right: -55px;
}
.bgi{
    
    background-image: url("../img/peoples.png");
    background-repeat: no-repeat;
    background-position: right top;
}


@media screen and (min-width: 1200px) and (max-width: 1650px){
    .container{
        max-width: 1128px;
    }
    .bgi{
        background-size: 56%;

    }
    h2{
        font-size: 20px;
    }
    .h1{
        font-size: 40px;
    }
    .copy__link{
        margin-top: 80px;
        margin-bottom: 80px;
        max-width: 350px;
        padding: 17px 26px 19px 34px;
        & span{
            font-size: 22px;
        }
    }
    .how-work__block span {
        font-size: 15px;
    }
}
@media screen and (min-width: 1200px){
    .header-mobile{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 968px;
    }
    .header-mobile{
        display: none;
    }
    .bgi{
        background-size: 56%;

    }
    h2{
        font-size: 20px;
    }
    .h1{
        line-height: 51.52px;
        padding-top: 25px;
        font-size: 39px;
    }
    .copy__link{
        margin-top: 80px;
        margin-bottom: 80px;
        max-width: 350px;
        padding: 17px 26px 19px 34px;
        & span{
            font-size: 22px;
        }
    }
    .how-work__block span {
        font-size: 13px;
    }
    .arrow__wrapper{
        & img{
            width: 300px;
            
        }
    }
}
@media screen and (max-width: 1000px){
    .header-mobile{
        display: block;
    }
    .bgi{
        background-image: unset;
    }
    .h1 {
        font-size: 28px;
    }
    h2{
        font-size: 14px;
    }
    .container{
        max-width: 90%;
        margin: 0 auto;
    }
    .arrow__wrapper{
        display: none;
    }
    .how-work{
        &__wrapper{
            display: block;
        }
        &__block{
            width: 90%;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin: 10px 0;
            max-width: 100%;
        }
    
    }

    .chain{
        top: -22px;
        right: -21px;
        width: 50px;
    }
    .percent{
        top: -21px;
        right: -16px;
        width: 50px;
        height: 50px;
    }
    .copy__link{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 90%;
    }
    .social__title{
        font-size: 14px;
    }
    .social__links a img {
        width: 40px;
        height: 40px;
        margin: 5px 0;

    }
    .skidka{
        top: -23px;
        right: -18px;
        width: 50px;
    }
    .how-work__wrapper{
        margin-top: 61px;
    }
}


@font-face{
    font-family: "Source Sans Pro";
    src: url('../../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
