
body{
    background: #fff;
    font-family: "Source Sans Pro";    
}

.container{
    max-width: 1545px;
    margin: 0 auto;
}
h1{
    font-size: 49px;
    color: #383f47;
    line-height: 72.52px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.53px;
    margin-top: 61px;
    
}
.gift{
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    &__text{
        padding: 278px 41px 108px 30px;
        & hr{
            margin-top: 21px;
            margin-bottom: 31px;
            &:hover{
                border: 1px solid #ffdc3a;
            }
        }
    
    }
    &__current{
        margin-top: 51px;
        justify-content: space-between;
        background-image: url("../img/gift.png");
        background-repeat: no-repeat;
        max-width: 400px;
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        &:hover{
            border: 1px solid #ffdc3a;
            cursor: pointer;
            
        }
    }
    &__title{
        font-size: 25px;
        color: #383f47;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.27px;
    }
    &__description{
        color: #383f47;
        font-size: 20px;
        letter-spacing: 0.21px;
        font-weight: 400;
        text-transform: uppercase;
    }

}
.mr{
    margin-right: 180px;

}
.title{
    margin-top: 51px;
}

@media screen and (max-width: 1540px) and (min-width: 1200px){
    .container{
        max-width: 1100px;
    }
    .mr{
        margin-right: 0;
    }
    .gift__wrapper{
        justify-content: space-between;
    }
}
@media screen and (max-width: 1200px) and (min-width: 850px){
    .container{
        max-width: 800px;
    }
    .mr{
        margin-right: 0;
    }
    .gift__wrapper{
        justify-content: space-between;
    }
}
@media screen and (max-width: 850px){
    .container{
        max-width: 85%;
    }
    .mr{
        margin-right: 0;
    }
    .gift__wrapper{
        justify-content: center;
    }
}
@font-face{
    font-family: "Source Sans Pro";
    src: url('../../fonts/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
